APP_URL=https://acme.com
NEXT_PUBLIC_ASSETS_URL=https://assets.sepehrshapouri.com

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_R2_BUCKET_NAME=sepehr-assets
ASSET_MANAGER_PASSWORD=

NEXT_PUBLIC_REGISTRY_NAMESPACE=@acme
NEXT_PUBLIC_REGISTRY_NAMESPACE_URL=https://acme.com/r/{name}.json

# https://github.com/settings/tokens
GITHUB_API_TOKEN=

# https://github.com/grubersjoe/github-contributions-api
GITHUB_CONTRIBUTIONS_API_URL=https://github-contributions-api.jogruber.de

# https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3003/api/spotify/callback

# https://www.dmca.com/ProtectionPro.aspx
NEXT_PUBLIC_DMCA_URL=https://www.dmca.com

# https://us.posthog.com/project/:id/settings/project
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=phc_xxx
NEXT_PUBLIC_POSTHOG_HOST=https://p.acme.com

# https://dashboard.openpanel.dev/ncdai/chanhdaicom/settings/clients
NEXT_PUBLIC_OPENPANEL_CLIENT_ID=

# https://tagmanager.google.com
NEXT_PUBLIC_GTM_ID=GTM-XYZ
